{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('users_index') }}">Retour</a>
    <h1>{{ user.username }}</h1>
    <h2>{{ user.mail }}</h2>
    <h2>{{ user.birthday | date("d/m/Y H:i") }}</h2>
    <a href="{{ path('user_edit', {"user": user.id}) }}">Modifier</a>
    <a href="{{ path('user_delete', {"user":user.id} ) }}">Supprimer</a>

{% endblock %}

{% block title %}
    User {{ user.username }}

{% endblock %}

